
  <section class="py-12 text-center container">

    <div class="row py-lg-0">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">ニュース</h1>
        <p class="lead text-muted"></p>
        <p>
          {% if user.is_authenticated %}
          <a href="{% url 'photo:post' %}"
          class="btn btn-primary my-2">投稿する</a>
          <a href="{% url 'accounts:logout' %}"
          class="btn btn-secondary my-2">ログアウト</a>
          {% else %}
          <a href="{% url 'accounts:signup' %}"
          class="btn btn-primary my-2">サインアップしてニュースを投稿</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

 